<template>
  <div id="create-char">
    <b-form id="form">
      <b-container id="container">
        <h1
          id="h1-heading"
          style="margin-top:60px; margin-left:20px; font-family: 'Alata', sans-serif "
        >Character Creation</h1>
        <b-jumbotron id="jumbo" style="margin-top:40px; margin-bottom:40px;">
          <b-row>
            <b-col>
              <label
                id="char-label"
                class="ml-2"
                style="font-size:24px;"
                for="input-with-list-name"
                >Character Name</label
              >
              <b-form-input
                v-model="character.name"
                size="lg"
                placeholder="Please enter your characters full name"
                list="input-list"
                id="input-with-list-name"
              ></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mt-4">
            <b-col>
              <label
                id="race-label"
                class="ml-2"
                style="font-size:24px;"
                for="input-with-list"
                >Race</label
              >
              <b-form-select
                size="lg"
                v-model="character.race"
                :options="race"
                id="race-select"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="mt-4">
            <b-col>
              <label
                id="align-label"
                class="ml-2"
                style="font-size:24px;"
                for="input-with-list"
                >Alignment</label
              >
              <b-form-select
                size="lg"
                id="align-form"
                v-model="character.alignment"
                :options="alignment"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="mt-4">
            <b-col>
              <label
                id="gender-label"
                class="ml-2"
                style="font-size:24px;"
                for="input-with-list"
                >Gender</label
              >
              <b-form-select
                id="gender-select"
                size="lg"
                v-model="character.gender"
                :options="gender"
              ></b-form-select>
            </b-col>
          </b-row>
          <b-row class="mt-4">
            <b-col>
              <label
                id="backstory-label"
                class="ml-2"
                style="font-size:24px;"
                for="input-with-list"
                >Back Story</label
              >
              <b-form-textarea
                id="backstory"
                size="lg"
                v-model="character.backstory"
                placeholder="Please enter a backstory..."
                rows="3"
                max-rows="6"
              ></b-form-textarea>
            </b-col>
          </b-row>

          <b-row style="margin-top:40px;" class="ml-4">
            <b-col cols="3">
              <p id="p-strength" style="font-size:24px;">
                Strength: {{ character.strength }}
              </p>
            </b-col>
            <b-col cols="8">
              <b-form-rating
                id="strength-rating"
                v-model="character.strength"
                stars="10"
              ></b-form-rating>
            </b-col>
          </b-row>

          <b-row class="mt-4 ml-4">
            <b-col cols="3">
              <p style="font-size:24px;" id="p-dex">Dexterity: {{ character.dexterity }}</p>
            </b-col>
            <b-col cols="8">
              <b-form-rating
                id="dex-rating"
                v-model="character.dexterity"
                stars="10"
              ></b-form-rating>
            </b-col>
          </b-row>

          <b-row class="mt-4 ml-4">
            <b-col cols="3">
              <p style="font-size:24px;" id="p-cons">Constitution: {{ character.constitution }}</p>
            </b-col>
            <b-col cols="8">
              <b-form-rating
                id="const-rating"
                v-model="character.constitution"
                stars="10"
              ></b-form-rating>
            </b-col>
          </b-row>

          <b-row class="mt-4 ml-4">
            <b-col cols="3">
              <p id="p-wisdom" style="font-size:24px;">
                Wisdom: {{ character.wisdom }}
              </p>
            </b-col>
            <b-col cols="8">
              <b-form-rating
                id="wisdom-form"
                v-model="character.wisdom"
                stars="10"
              ></b-form-rating>
            </b-col>
          </b-row>

          <b-row class="mt-4 ml-4">
            <b-col cols="3">
              <p id="p-char" style="font-size:24px;">
                Charisma: {{ character.charisma }}
              </p>
            </b-col>
            <b-col cols="8">
              <b-form-rating
                id="char-rating"
                v-model="character.charisma"
                stars="10"
              ></b-form-rating>
            </b-col>
          </b-row>

          <b-row class="mt-4 ml-4">
            <b-col cols="3">
              <p id="p-intel" style="font-size:24px;">Intelligence: {{ character.intelligence }}</p>
            </b-col>
            <b-col cols="8">
              <b-form-rating
                id="intel-rating"
                v-model="character.intelligence"
                stars="10"
              ></b-form-rating>
            </b-col>
          </b-row>

          <b-row>
            <b-col>
              <b-button
                id="create-btn"
                @click="createACharacter()"
                variant="success"
                style="float:right; margin-top:60px; width:100px"
                size="lg"
              >Create</b-button>
            </b-col>
          </b-row>
        </b-jumbotron>
      </b-container>
    </b-form>
  </div>
</template>

<script>
import * as characterService from "../../services/characterService";

export default {
  data() {
    return {
      selectedRace: null,
      selectedAlignment: null,
      selectedGender: null,
      gender: [
        { value: null, text: "Please select a gender", disabled: true },
        { value: "Male", text: "Male" },
        { value: "Female", text: "Female" },
        { value: "Other", text: "Other" },
      ],
      race: [
        { value: null, text: "Please select a race", disabled: true },
        { value: "Ork", text: "Ork" },
        { value: "Human", text: "Human" },
        { value: "Demon", text: "Demon" },
        { value: "Dragonborn", text: "Dragonborn" },
        { value: "Halfling", text: "Halfling" },
        { value: "Goblin", text: "Goblin" },
        { value: "Thiefling", text: "Thiefling" },
        { value: "Beast Man", text: "Beast Man" },
        { value: "Ware Wolf", text: "Ware Wolf" },
        { value: "Vampire", text: "Vampire" },
        { value: "Geargrinder", text: "Geargrinder" },
      ],
      alignment: [
        { value: null, text: "Please select alignment", disabled: true },
        { value: "Lawful Good", text: "Lawful Good" },
        { value: "Neutral Good", text: "Neutral Good" },
        { value: "Chaotic Good", text: "Chaotic Good" },
        { value: "Lawful Neutral", text: "Lawful Neutral" },
        { value: "Neutral", text: "Neutral" },
        { value: "Chaotic Neutral", text: "Chaotic Neutral" },
        { value: "Neutral Evil", text: "Neutral Evil" },
        { value: "True evil", text: "True evil" },
      ],
      character: {
        name: "Bob",
        race: "Dragonborn",
        gender: "Male",
        backstory: "The same old, same old.",
        alignment: "Neutral Good",
        strength: 1,
        dexterity: 2,
        constitution: 1,
        wisdom: 2,
        charisma: 1,
        intelligence: 2,
      },
    };
  },

  methods: {
    createACharacter: async function () {
      const character = {
        name: this.character.name,
        race: this.character.race,
        gender: this.character.gender,
        backstory: this.character.backstory,
        alignment: this.character.alignment,
        strength: this.character.strength,
        dexterity: this.character.dexterity,
        constitution: this.character.constitution,
        wisdom: this.character.wisdom,
        charisma: this.character.charisma,
        intelligence: this.character.intelligence,
      };
      const characterPromise = await characterService.createCharacter(
        character
      );
      await Promise.resolve(characterPromise);
      await this.$router.push({ path: '/' });
    },
  },
};
</script>
