<template>
  <div id="list-chars">
    <b-container>
      <b-row>
        <b-col>
          <b-table
            id="table-1"
            ref="table"
            :items="characters"
            :fields="fields"
            :tbody-tr-class="rowClass"
            striped
            responsive="sm"
            bv::refresh::table
          >
            <template v-slot:cell(remove)="row">
              <b-button id="btn-delete" size="sm" @click="deleteChar(characters[row.index]._id)" class="mr-2">Delete</b-button>
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import * as characterService from "../../services/characterService";
export default {
  created: async function () {
    let charArray = await characterService.getAllCharacters();
    this.characters = charArray.promis;
  },

  data() {
    return {
      fields: ["name", "gender", "race", "alignment", "backstory", "remove"],
      characters: [],
    };
  },
  methods: {
    rowClass(item, type) {
      if (!item || type !== "row") return;
      if (item.status === "awesome") return "table-success";
    },
    deleteChar: async function (id) {
      characterService.deleteCharacter(id).then(async () => {
        window.location.reload();
      });
    },
  },
};
</script>

<style scoped></style>