<template>
  <div id="app">
    <b-container id="container">
      <b-row class="text-center">
        <b-col>
          <h1 id="heading">Welcome to Character Companion</h1>
          <div
          id="sub-heading"
            style="margin-top:35px; text-shadow: .2px .2px .2px gray; font-size: 25px; font-family: 'Alata', sans-serif;"
          >
            A simple web application to help you build your RPG character.
          </div>
        </b-col>
      </b-row>
      <b-row id="btn-row" class="text-center"
        ><b-col>
          <b-button
          type="button"
          id="btn-create"
            size="lg"
            variant="success"
            style="float: right; width:200px; font-family: 'Alata', sans-serif; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);"
            href="/create-char"
            >Create Character</b-button
          > </b-col
        ><b-col>
          <b-button
           type="button"
          id="btn-list"
            size="lg"
            variant="info"
            href="/list-chars"
            style="float: left; width:200px; font-family: 'Alata', sans-serif; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);"
            >List All Characters</b-button
          >
        </b-col></b-row
      >
    </b-container>
  </div>
</template>

<script>
//git test
export default {
  name: 'Home',
  data() {
    return {};
  },
  props: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#heading {
  text-align: center;
  margin-top: 60px;
  font-size: 80px;
  text-shadow: 1px 1px 1px gray;
  font-family: 'Alata', sans-serif;
}

#btn-row {
  margin-top: 40px;
}

#app {
  background-image: url('https://images.pexels.com/photos/411207/pexels-photo-411207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-color: #cccccc;
  background-size: auto;
  height: 700px; /* You must set a specified height */
  background-attachment: inherit;
  background-position: 100% 50%;
}
</style>

