<template>
  <b-navbar toggleable type="dark" variant="dark">
    <b-navbar-brand id="nav-brand" href="/" style="font-family: 'Alata', sans-serif;"
      ><i class="fas fa-dice"></i> Character Companion</b-navbar-brand
    >

    <b-navbar-toggle target="navbar-toggle-collapse">
      <template v-slot:default="{ expanded }">
        <b-icon v-if="expanded" icon="chevron-bar-up"></b-icon>
        <b-icon v-else icon="chevron-bar-down"></b-icon>
      </template>
    </b-navbar-toggle>

    <b-collapse id="navbar-toggle-collapse" is-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item style="font-family: 'Alata', sans-serif;" href="/"
          >Home</b-nav-item
        >
        <b-nav-item
          style="font-family: 'Alata', sans-serif;"
          href="/create-char"
          >Create Character</b-nav-item
        >
        <b-nav-item style="font-family: 'Alata', sans-serif;" href="/list-chars"
          >List Characters</b-nav-item
        >
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
